package page

import "ovo-server/internal/template/shared"
import "ovo-server/internal/template/component"

type AdminDashboardPageData struct {
	Username string
}

templ AdminDashboardPage(pageData AdminDashboardPageData) {
	@shared.Page("Admin Dashboard") {
		@component.AdminSidebar()
		@component.Container("p-10") {
			<div>
				<h1>Admin Dashboard</h1>
				<p>Welcome, { pageData.Username }!</p>
			</div>
		}
	}
}
