package page

import "ovo-server/internal/template/shared"

type HomePageData struct {
	Username string
}

templ HomePage(pageData HomePageData) {
	@shared.Page("Home") {
		<div>
			<h1>Home</h1>
			<p>Welcome to the home page: { pageData.Username }</p>
			<ul>
				<li></li>
				<a href="/admin">Admin Panel</a>
				<li></li>
				<a href="/logout">Logout</a>
			</ul>
		</div>
	}
}
