.button {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);

    min-width: 2.5rem;
    @apply rounded p-2;
    @apply outline hover:outline-dashed outline-2;
    outline-color: var(--secondary-color);

    &:hover {
        background-color: var(--secondary-color-light);
    }

    &-secondary {
        background-color: var(--secondary-color)
    }

    &-primary {
        background-color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color-light);
        }
    }

    &-warning {
        background-color: var(--warning-color);

        &:hover {
            background-color: var(--warning-color-light);
        }
    }

    &-danger {
        background-color: var(--danger-color);
        outline-color: var(--danger-color-light);

        &:hover {
            background-color: var(--danger-color-light);
        }
    }

    // com
}