.home-container {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.masonry-container {
    display: block;
    padding: 0;
    transition: height 0.3s;

    .masonry-item {
        margin-bottom: 25px;
        //margin: 25px;
        // margin-inline: 12.5px;
        // margin-inline: 1%;
        // margin-inline: 12.5px;
        outline: solid 1px #e5e5e5;


        img {
            aspect-ratio: 0.666;
        }
    }
}

@media screen and (min-width: 640px) {
    .sidebar-container.closed+.content-container {
        width: 100%;
    }

    .sidebar-container+.content-container {
        transition-property: width;
        transition-duration: 300ms;
        width: calc(100% - 18rem);
    }
}

.item-container {
    margin: 2.5rem;
    margin-inline: 5rem;

    h1 {
        font-size: 1.75rem;
        line-height: 1;
    }

    h2 {
        font-size: 1.25rem;
        line-height: 1;
    }

    .item-image {
        aspect-ratio: 0.666;
        width: 350px;
    }


    .details span {
        display: inline-block;
        line-height: 1;
        font-size: 1.375rem;
    }

    .comma-separated+.comma-separated::before {
        content: ",";
        @apply me-1;
    }
}

.inline-icon {
    vertical-align: text-bottom;
}