@use "admin_library_form.scss";

input[type=text],
input[type=password] {
    min-width: 300px;
    width: 100%;
    @apply rounded p-1 px-2;
    @apply outline hover:outline-4 outline-2 outline-secondary;
    background-color: transparent;
    color: var(--primary-text-color);
}

select {
    min-width: 300px;
    width: 100%;
    @apply rounded p-1 px-2;
    @apply outline hover:outline-4 outline-2 outline-secondary;
    background-color: transparent;
    color: var(--primary-text-color);
}

select option {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.form-group {
    @apply flex flex-col gap-2;

    label {
        user-select: none;
    }
}