.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    @apply flex items-center justify-center;

    .modalContent {
        transition: all 0.1s ease-in-out;
        background-color: var(--background-color);
        width: fit-content;
        height: fit-content;
        @apply p-4 flex flex-col gap-4;
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;

        .modalContent {
            transition: all 0.1s ease-in-out;
            transform: scale(0.2);
        }
    }

    transition: all 0.1s ease-in-out;


}