@use '../base/variables.scss' as vars;
@use './button.scss' as button;

.swal2-popup,
.swal2-modal {
    background-color: adjust-color(vars.$backgroundColor, $lightness: 10%);
    color: vars.$textColor;
    width: fit-content;
}

// Use this classes with te next properties in the swal options
// showClass: {
//     popup: "swal-custom-open"
// },
// hideClass: {
//     popup: "swal-custom-close"
// },

.swal-custom-open {
    animation: cubic-bezier(0.42, 0, 0, 1.63) linear-scale-open 0.3s;
    border: solid 1px green;
}

.swal-custom-close {
    animation: linear-scale-close 0.3s;
}

@keyframes linear-scale-open {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes linear-scale-close {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}