@use '../base/variables.scss' as vars;

.sidebar-container {
    position: fixed;
    top: vars.$header-height;
    left: 0;
    transition-property: width, min-width;
    transition-duration: 0.3s;

    scrollbar-width: thin;

    // Hide scroll bar
    // IE and Edge
    -ms-overflow-style: initial;
    // Firefox
    scrollbar-width: thin;
    z-index: +2;

    background: linear-gradient(90deg, #1a1a1a 0%, #333 50%, #1a1a1a 100%);
    background-color: #333;

    h2 {
        text-transform: uppercase;
        font-size: 1.1em;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: repeating-linear-gradient(#0015ff00, #393939 5px);
        width: 100%;
        height: 100%;
        content: "";
    }
}

.sidebar-container.closed {
    min-width: 0;
    @apply w-0;
}

.lateral-navbar {
    @apply my-5 mx-10 flex flex-col w-52;

    button {
        display: flex;
        align-items: center;

    }

    h2 {
        @apply mb-3;
    }

    div {
        @apply mt-3 mb-5 gap-3 flex flex-col;

        button {
            @apply w-full ps-5 gap-3;
        }
    }
}