@use '../base/variables.scss' as vars;

.sidebar-container {
    position: fixed;
    top: vars.$header-height;
    left: 0;
    transition-property: width, min-width;
    transition-duration: 0.3s;

    scrollbar-width: thin;

    // Hide scroll bar
    // IE and Edge
    -ms-overflow-style: initial;
    // Firefox
    scrollbar-width: thin;

    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    // *::-webkit-scrollbar {
    //     display: block;
    // }
    z-index: +2;
}

.sidebar-container.closed {
    min-width: 0;
    @apply w-0;
}