package view

templ LoginPage(username string) {
	<form method="POST">
		<input type="text" name="username" value={ username }/>
		<input type="password" name="password"/>
		<input type="submit" value="Login"/>
	</form>
}
