@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-color: white;
  --primary-color: #44a9cc;
  --secondary-color: #3f7587;
  --background-color: #1d1d1b;
  --warning-color: hsl(24, 100%, 62%);
  --danger-color: hsl(0, 100%, 62%);
  --primary-text-color: white;
  --secondary-text-color: white;
  --warning-text-color: white;
  --danger-text-color: white;
  --primary-color-light: #6cbbd7;
  --secondary-color-light: #6cbbd7;
  --warning-color-light: #ffa970;
  --danger-color-light: #ff7070;
  --primary-color-dark: #246d86;
  --secondary-color-dark: #246d86;
  --warning-color-dark: #d65600;
  --danger-color-dark: #d60000;
}

:root body.dark {
  --text-color: #1a1a1a;
  --secondary-color: #63b4d0;
}

:root body.winter {
  --main-color: #008cff;
  --secondary-color: #63b4d0;
}

.button {
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  min-width: 2.5rem;
  @apply rounded p-2;
  @apply outline hover:outline-dashed outline-2;
  outline-color: var(--secondary-color);
}
.button:hover {
  background-color: var(--secondary-color-light);
}
.button-secondary {
  background-color: var(--secondary-color);
}
.button-primary {
  background-color: var(--primary-color);
}
.button-primary:hover {
  background-color: var(--primary-color-light);
}
.button-warning {
  background-color: var(--warning-color);
}
.button-warning:hover {
  background-color: var(--warning-color-light);
}
.button-danger {
  background-color: var(--danger-color);
  outline-color: var(--danger-color-light);
}
.button-danger:hover {
  background-color: var(--danger-color-light);
}

a.button {
  display: inline-block;
}

#pathList {
  @apply flex flex-col gap-2 p-2 outline outline-2 outline-secondary rounded;
}
#pathList.hidden {
  display: none;
}
#pathList span {
  @apply p-1;
}
#pathList .pathElement {
  @apply flex justify-between;
}

#libraryContainer {
  @apply grid grid-cols-2 gap-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5;
}

input[type=text],
input[type=password] {
  min-width: 300px;
  width: 100%;
  @apply rounded p-1 px-2;
  @apply outline hover:outline-4 outline-2 outline-secondary;
  background-color: transparent;
  color: var(--primary-text-color);
}

select {
  min-width: 300px;
  width: 100%;
  @apply rounded p-1 px-2;
  @apply outline hover:outline-4 outline-2 outline-secondary;
  background-color: transparent;
  color: var(--primary-text-color);
}

select option {
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
}

.form-group {
  @apply flex flex-col gap-2;
}
.form-group label {
  user-select: none;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-error {
  color: var(--danger-text-color);
  background-color: var(--danger-color-light);
  border-color: var(--danger-color);
}

.lateral-navbar {
  @apply my-5 mx-10 flex flex-col w-52;
}
.lateral-navbar button {
  display: flex;
  align-items: center;
}
.lateral-navbar h2 {
  @apply mb-3;
}
.lateral-navbar div {
  @apply mt-3 mb-5 gap-3 flex flex-col;
}
.lateral-navbar div button {
  @apply w-full ps-5 gap-3;
}

.imago-container {
  position: relative;
  width: 82px;
  height: 60px;
  align-self: center;
  filter: drop-shadow(4px 4px 4px #141414);
}
.imago-container div {
  margin: 0;
}
.imago-container img {
  position: absolute;
  top: 0;
  left: 0;
}
.imago-container .rightEye {
  transform: scaleX(-1);
}
.imago-container .iris {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  animation-duration: 12s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-name: iris;
}
.imago-container .irisL {
  left: 9.6px;
  top: 19px;
  background: radial-gradient(circle at 50% 50%, #a64d00 0%, #a38000 90%);
}
.imago-container .irisR {
  left: 52.329px;
  top: 19px;
  background: radial-gradient(circle at 50% 50%, #ff7600 0%, #ffc800 90%);
}
.imago-container .iris:before {
  content: "";
  width: 40%;
  height: 40%;
  border-radius: 100%;
  position: absolute;
  left: 31%;
  top: 31%;
  background: black;
  animation-name: pupil;
  animation-duration: inherit;
  animation-timing-function: inherit;
  animation-iteration-count: inherit;
}
.imago-container .iris:after {
  content: "";
  width: 23%;
  height: 23%;
  border-radius: 100%;
  position: absolute;
  left: 55%;
  top: 30%;
  background: rgba(255, 255, 255, 0.4);
  animation-name: pupil;
  animation-duration: inherit;
  animation-timing-function: inherit;
  animation-iteration-count: inherit;
}
.imago-container .irisL:after {
  background: rgba(255, 255, 255, 0.2);
}
@keyframes iris {
  0% {
    transform: scale(1.1);
  }
  20% {
    transform: none;
  }
  25%, 40% {
    transform: scale(1.1);
  }
  60% {
    transform: none;
  }
  65%, 100% {
    transform: scale(1.1);
  }
}
@keyframes pupil {
  0% {
    transform: none;
  }
  20% {
    transform: translateX(2px) translateY(2px) scale(1.1);
  }
  25%, 40% {
    transform: none;
  }
  60% {
    transform: translateX(-2px) translateY(2px) scale(1.1);
  }
  65%, 100% {
    transform: none;
  }
}
.imago-container .closedEyesContainer {
  position: absolute;
  top: 0;
  left: 0;
  mask: url("../imago/05_BG_BLACK_IMAGO.svg");
  width: 100%;
  height: 100%;
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.imago-container .closedEyeR {
  animation: blinkR 12s infinite;
}
@keyframes blinkR {
  0% {
    transform: rotate(-40deg) translate(0px, -10px) scaleX(1) scaleY(0);
  }
  3.8% {
    transform: rotate(-40deg) translate(0px, 0px) scaleX(0.95) scaleY(1);
    animation-timing-function: ease-in;
  }
  5.8% {
    transform: rotate(-40deg) translate(0px, -10px) scaleX(1) scaleY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: rotate(-40deg) translate(0px, -10px) scaleX(1) scaleY(0);
  }
}
.imago-container .closedEyeL {
  animation: blinkL 12s infinite;
}
@keyframes blinkL {
  0% {
    transform: rotate(40deg) translate(0px, -10px) scaleX(-1) scaleY(0);
  }
  3.6% {
    transform: rotate(40deg) translate(0px, 0px) scaleX(-0.95) scaleY(1);
    animation-timing-function: ease-in;
  }
  5.6% {
    transform: rotate(40deg) translate(0px, -10px) scaleX(-1) scaleY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: rotate(40deg) translate(0px, -10px) scaleX(-1) scaleY(0);
  }
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @apply flex items-center justify-center;
  transition: all 0.1s ease-in-out;
}
.modalContainer .modalContent {
  transition: all 0.25s ease-in-out;
  background-color: var(--background-color);
  width: fit-content;
  height: fit-content;
  @apply p-4 flex flex-col gap-4;
}
.modalContainer.hidden {
  opacity: 0;
  pointer-events: none;
}
.modalContainer.hidden .modalContent {
  transform: scale(0.2);
}

.sidebar-container {
  position: fixed;
  top: 72px;
  left: 0;
  transition-property: width, min-width;
  transition-duration: 0.3s;
  scrollbar-width: thin;
  -ms-overflow-style: initial;
  scrollbar-width: thin;
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  z-index: 1;
}

.sidebar-container.closed {
  min-width: 0;
  @apply w-0;
}

.marginTopHeader {
  margin-top: 72px;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  gap: 30px;
  z-index: 2;
  background: linear-gradient(90deg, #1a1a1a 0%, #333 50%, #1a1a1a 100%);
  background-color: #333;
  padding-right: 30px;
  padding-left: 30px;
  width: inherit;
  height: 72px;
}
header .headerSection {
  display: flex;
  gap: 30px;
  width: 100%;
}
header .headerSection.start {
  justify-content: start;
}
header .headerSection.center {
  justify-content: center;
}
header .headerSection.end {
  justify-content: end;
}
header .searchContainer {
  display: flex;
  position: relative;
}
header .searchContainer .searchBackground {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: flex-end;
  align-items: center;
  transition: all 200ms ease-in-out;
  background-color: transparent;
  width: 0px;
  height: 100%;
  overflow: hidden;
}
header .searchContainer .searchField {
  transition: all 200ms ease-in-out;
  margin-right: 15px;
  border-radius: 5px;
  width: 210px;
  height: 50px;
}
header::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: repeating-linear-gradient(rgba(0, 21, 255, 0), #393939 5px);
  width: 100%;
  height: 100%;
  content: "";
}

.horizontal-card {
  border: solid 1px red;
  aspect-ratio: 1.789;
}

.home-container {
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.masonry-container {
  display: block;
  padding: 0;
  transition: height 0.3s;
}
.masonry-container .masonry-item {
  margin-bottom: 25px;
  outline: solid 1px #e5e5e5;
}
.masonry-container .masonry-item img {
  aspect-ratio: 0.666;
}

@media screen and (min-width: 640px) {
  .sidebar-container.closed + .content-container {
    width: 100%;
  }
  .sidebar-container + .content-container {
    transition-property: width;
    transition-duration: 300ms;
    width: calc(100% - 18rem);
  }
}
.item-container {
  margin: 2.5rem;
  margin-inline: 5rem;
  gap: 2.5rem;
}
.item-container h1 {
  font-size: 1.75rem;
  line-height: 1;
}
.item-container h2 {
  font-size: 1.25rem;
  line-height: 1;
}
.item-container .item-image {
  aspect-ratio: 0.666;
  width: 350px;
}
.item-container .details span {
  display: inline-block;
  line-height: 1;
  font-size: 1.375rem;
}
.item-container .comma-separated + .comma-separated::before {
  content: ",";
  @apply me-1;
}

.inline-icon {
  vertical-align: text-bottom;
}

.scrollIndicator {
  position: absolute;
  bottom: -5px;
  left: 0;
  border-top: solid 1px #1e1e1e;
  border-bottom: solid 1px black;
  background-color: #343434;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
  height: 5px;
}

.scrollProgress {
  position: relative;
  transition: all 300ms linear;
  background-color: #44a9cc;
  width: 0%;
  height: 3px;
  height: 100%;
}
.scrollProgress::before {
  position: absolute;
  top: 50%;
  right: 0px;
  left: 0px;
  transform: translateY(-50%);
  filter: blur(5px);
  animation: barGlow 3s infinite;
  transition: inherit;
  background: linear-gradient(-90deg, #63b4d0, transparent);
  height: 5px;
  content: "";
}
.scrollProgress::after {
  -webkit-mask: linear-gradient(90deg, transparent, white);
  position: absolute;
  top: 50%;
  right: 0px;
  left: 0px;
  transform: translateY(-50%);
  mask: linear-gradient(90deg, transparent, white);
  background-color: white;
  height: 50%;
  content: "";
}
.scrollProgress .scrollProgressThumb {
  display: none;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(50%, -50%);
  z-index: 1;
  filter: blur(1px);
  animation: thumbGlow 1.5s infinite;
  box-shadow: 0 0 5px 2px white, 0 0 10px 3px #63b4d0;
  border-radius: 50%;
  background-color: white;
  width: 3px;
  height: 3px;
}
@keyframes barGlow {
  0% {
    height: 5px;
  }
  50% {
    filter: blur(8px);
    height: 5.5px;
  }
  100% {
    height: 5px;
  }
}
@keyframes thumbGlow {
  0% {
    box-shadow: 0 0 5px 2px white, 0 0 10px 3px #63b4d0;
  }
  50% {
    box-shadow: 0 0 7px 3px white, 0 0 11px 4px #63b4d0;
  }
  100% {
    box-shadow: 0 0 5px 2px white, 0 0 10px 3px #63b4d0;
  }
}

.horizontal-carrousel .overflow-x-scroll {
  scrollbar-width: thin;
}
.horizontal-carrousel a {
  flex-shrink: 0;
  width: 7.6rem;
}

html {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  scrollbar-color: var(--secondary-color) var(--background-color);
}
html *::-webkit-scrollbar {
  display: none;
}
html *::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

body {
  background-color: var(--background-color);
  @apply flex w-screen min-h-screen h-fit;
}

.border-primary {
  border-color: var(--primary-color);
}

.border-secondary {
  border-color: var(--secondary-color);
}

.outline-primary {
  outline-color: var(--primary-color);
}

.outline-secondary {
  outline-color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.form {
  @apply gap-3 flex flex-col;
}

/*# sourceMappingURL=style.css.map */
