@use "base/tailwind.scss";
@use "base/variables.scss";
@use "components/button.scss";
@use "components/input-fields.scss";
@use "components/alert.scss";
@use "components/admin_sidebar.scss";

html {
    background-color: var(--background-color);
    color: var(--primary-text-color)
}

body {
    background-color: var(--background-color);
    @apply flex w-screen;
}

.border-primary {
    border-color: var(--primary-color);
}

.border-secondary {
    border-color: var(--secondary-color);
}

.outline-primary {
    outline-color: var(--primary-color);
}

.outline-secondary {
    outline-color: var(--secondary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.form {
    @apply gap-3 flex flex-col;
}