@use "base/tailwind.scss";
@use "base/variables.scss";
@use "components/button.scss";
@use "components/input-fields.scss";
@use "components/alert.scss";
@use "components/sidebar.scss";
@use "components/animated_imago.scss";
@use "components/modal.scss";
@use "components/user_sidebar.scss";
@use "components/navbar.scss";
@use "components/cards.scss";
@use "components/containers.scss";
@use "components/scroll_indicator.scss";

html {
    background-color: var(--background-color);
    color: var(--primary-text-color);

    // Hide scroll bar
    // IE and Edge
    -ms-overflow-style: none;
    // Firefox
    scrollbar-width: none;

    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    *::-webkit-scrollbar {
        display: none;
    }

    // Change scrollbar color in case that any component needs it
    *::-webkit-scrollbar-track {
        background: var(--secondary-color);
    }

    scrollbar-color: var(--secondary-color) var(--background-color);

}

body {
    background-color: var(--background-color);
    @apply flex w-screen min-h-screen h-fit;
}

.border-primary {
    border-color: var(--primary-color);
}

.border-secondary {
    border-color: var(--secondary-color);
}

.outline-primary {
    outline-color: var(--primary-color);
}

.outline-secondary {
    outline-color: var(--secondary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.form {
    @apply gap-3 flex flex-col;
}