package component

templ HorizontalCard(content string, href string) {
	<a href={ templ.SafeURL(href) } class="horizontal-card flex justify-center items-center">
		<span>
			{ content }
		</span>
	</a>
}
