package component

type HorizontalCardData struct {
	CardTitle string
	ImagePath string
	CardPath  string
	Classes   string
}

templ HorizontalCard(componentData HorizontalCardData) {
	<a href={ templ.SafeURL(componentData.CardPath) } class={ "horizontal-card flex justify-center items-center " + componentData.Classes }>
		<img src={ componentData.ImagePath }/>
		<span>{ componentData.CardTitle }</span>
	</a>
}
